html, body, #app {
	margin: 0;
	padding: 0;
	font-family: "Space Mono", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f4d6ba;
	width: 100%;
	/* background-image: url('../src/imgs/milkywayatcapecod.jpg'); */
	/* height: 700px;  */
}
@media only screen and (max-width: 500px) {

	.header a {
		float: none;
		display: flex;
		flex-wrap: wrap;
		font-size: 1.5rem;
	}
	.nav-items {
		line-height: 25pt;
	}
	.nav-link {
		font-size: 1rem;
	}
	.about-me {
		height: 10rem;
	}
	.content {
		display: flex;
		justify-content: center;
	}
	.intro-picture {
		display: flex;
		flex-direction: column;
	}
	.intro-text {
		flex-direction: column;
	}
	.intro-container {
		flex-direction: column;
		width: 40px;
	}
	.harrisonPortrait {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 40px;
	}
	.about-harrison {
		display: flex;
		flex-direction: column;
	}
	.projects {
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	.row {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.project{
		display: flex;
		width: 100vw;
		padding: 0;
		margin: 0;

		/* flex-direction: column; */
	}
	.intro-picture{
		display: flex;
		flex-direction: column;
	}
	#root{
		height: 100vh;
		/* background-color: blue; */
	}
	.skills{
		display: flex;
		flex-direction: row;

	}
	ul {
		display: flex;
		flex-direction: column;
	}
}
@media only screen and (max-width: 1000px) {
	.skills{
		display: flex;
		flex-direction: row;
	}
	ul {
		display: flex;
		flex-direction: column;
	}
}

#root {
	margin: 0;
}
.milky {
	font-size: 3rem;
	animation: pulse 3s infinite;
	border-radius: 50%;
	height: 30px;
	width: 50px;
	transform: scale(1);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	padding: 0 10px;
	margin-bottom: 5rem;
	line-height: 2rem;
}

@keyframes pulse {
	0% {
		transform: scale(0.1);
		box-shadow: 0 0 0 0 #ffffff;
		border-radius: 50%;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
		border-radius: 50%;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		border-radius: 50%;
	}
}
.home {
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
	margin: 4rem;
	justify-content: center;
	align-items: center;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.about-harrison {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 85%;
}
.tools {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about-me {
	height: 30rem;
	display: flex;
	flex-direction: column;
}
.intro {
	font-size: 1.8rem;
	font-weight: bold;
}
.intro-container {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 23rem;
	border-radius: 180px;
}
.intro-picture {
	display: flex;
	align-items: center;
	/* flex-direction: row; */
	/* margin-right: 30px; */
}
.intro-text {
	display: flex;
	flex-direction: row;
	margin-left: 30px;
	font-size: 1.5rem;
}
.harrisonPortrait {
	border-radius: 180px;
	height: 23rem;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 23rem;
	width: 100%;
	opacity: 0;
	transition: 0.25s ease;
	background-color: #2c2c54;
	border-radius: 180px;
}
.project-background {
	background-color: #a40e4c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.project-title {
	color: white;
	font-size: 2.5rem;
	font-family: "space mono";
}
.row {
	display: flex;

}
.project {
	width: 50%;
	margin: 30px;
}
.app-description {
	font-size: large;
	font-weight: lighter;
}
.milkyway {
	z-index: -1;
	margin-top: -50px;
}
.about-background {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	flex-direction: column;
	background-color: #a40e4c;
	width: 100%;
	height: 45%;
	z-index: 1;
}
.intro-container:hover .overlay {
	opacity: 0.75;
}
.homepage-footer {
	display: flex;
	justify-content: space-around;
	margin: 15px;
}
a{
	color: white;
}
.mybtns {
	display: inline-block;
	flex-direction: row;
	text-decoration: none;
	background-color: #2c2c54;
	color: white;
	font-family: "Space Mono", monospace;
	font-size: 1.4rem;
	height: 5.5rem;
	border-radius: 18px;
	border: 0px;
	transition: 0.25s;
	padding: .5rem;
	text-align: center;
	margin: 8px;
}
.mybtns:hover {
	background-color: white;
	color: #2c2c54;
}
.text {
	position: absolute;
	font-family: "Space Mono", monospace;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	top: 10.5rem;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 5rem;
	color: white;
}
.font-link {
	font-family: "Space Mono", monospace;
}
#font {
	font-family: "Space Mono", monospace;
}
#image {
	height: 15rem;
}
.page-content {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}
.top {
	width: 100%;
}
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* padding: 15px; */
	background-color: #a40e4c;
	box-sizing: border-box;
	/* padding-bottom: 0px; */
}

.header-name {
	display: flex;
	font-style: italic;
	font-size: 3rem;
	color: white;
	padding: 15px;
	align-items: center;
	text-decoration: none;
	text-align: center;
	justify-content: center;
}
.header-name:hover {
	color: white;
}
.linkedIn {
	height: 2.3rem;
	margin: 0;
	filter: saturate(0) brightness(100);
	transition: 0.25s;
}
.linkedIn:hover {
	filter: invert(1) saturate(0) contrast(100) brightness(0);
	height: 2.4rem;
}
.github-logo-white {
	margin: 0;
	padding: 0;
	height: 2.3rem;
	transition: 0.25s;
}
.github-logo-white:hover {
	filter: invert(1);
	height: 2.4rem;
}
.nav-items {
	width: 100%;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}
.bottom-items {
	display: flex;
	margin: 1rem;
	flex-direction: row;
	justify-content: center;
}
.nav-link {
	margin: 0 1rem 0 1rem;
	padding-bottom: 10px;
	font-size: 2rem;
	text-decoration: none;
	color: white;
	transition: font-size 0.25s ease-in-out;
}
.nav-link:hover {
	color: #2c2c54;
	font-size: 2.05rem;
	/* font-weight: bold; */
}
h1 {
	font-size: 3rem;
	font-family: "Space Mono", monospace;
}
h2 {

	font-family: "Space Mono", monospace;
}
h3 {
	font-family: "Space Mono", monospace;
}
h4 {
	font-family: "Space Mono", monospace;
}
h5 {
	font-family: "Space Mono", monospace;
}
.portrait {
	height: 300px;
}
.projects {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project {
	color: white;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid #8e0d43;
	background-color: #8e0d43;
	border-radius: 13px;
}

small{
	padding: 15px;
	font-weight: lighter;
}
.footer {
	display: flex;
	background-color: #a40e4c;
	height: 300px;
	justify-content: center;
}
.resume {
	display: flex;
	margin: 40px;
}
.contact {
	display: flex;
	margin: 40px;
}
ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.skills {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
}

li {
	
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 0 1rem 1rem 1rem;
	/* float: left; */
}
.row1 {
	display: flex;
	flex-direction: row;
}
.row2 {
	display: flex;
	flex-direction: row;
}
.btn-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
@media only screen and (max-width: 500px) {
	.projects {
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	.row {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.project{
		display: flex;
		width: 100vw;
		padding: 10px;
		margin: 20px;
		

		/* flex-direction: column; */
	}
}